/* Filter */
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.features__item + .features__item {
  display: block;
  margin-left: 8px;
}

/* Filter Buttons */
.filter.button {
  min-width: 73px;
  height: 38px;
  background-color: var(--secondary-bg);
  color: var(--title-text-color);
}

.filter.button:hover {
  background-color: var(--accent);
  color: var(--primary-bg-color);
}

/* Project */
.project {
  display: flex;
  flex-wrap: wrap;
}

.project__container {
  border: 1px solid var(--border-box-color);
  border-top: none;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project__item img {
  margin: none;
  display: block;
}

.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project__title {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project__descriptioon {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}
